.dashboard-container{
    min-height:100vh;
    background:#0F172A;
    color:white;
    text-align:center;
    padding-top:50px;
}

.dashboard-container h1{
    margin-bottom:10px;
}

.dashboard-container p{
    color:#CBD5E1;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:50px;
    flex-wrap:wrap;
}

.dashboard-card{
    background:#1E293B;
    width:250px;
    padding:30px;
    border-radius:15px;
}

.dashboard-card h2{
    color:#3B82F6;
    font-size:40px;
}

.buttons{
    margin-top:50px;
}

.buttons button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:8px;
    background:#2563EB;
    color:white;
    cursor:pointer;
}